[Unit]
Description=remotedaemon running in ~/annex

[Service]
ExecStart=/bin/sh -c 'sleep infinity | git-annex remotedaemon --verbose --debug --foreground'
WorkingDirectory=%h/annex
