[Unit]
Description=blueman applet

[Install]
WantedBy=graphical-session.target

[Service]
#ExecStart=%h/.local/state/nix/profile/bin/blueman-applet
ExecStart=/usr/bin/blueman-applet