[Unit]
Description=Flameshot Screenshot Tool

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=%h/.local/state/nix/profile/bin/flameshot
