[Unit]
Description=gxkb - X11 keyboard indicator and switcher

[Install]
WantedBy=graphical-session.target

[Service]
#ExecStart=%h/.local/state/nix/profile/bin/gxkb
ExecStart=/usr/bin/gxkb