[Unit]
Description=PolicyKit Authentication Agent

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/lib/policykit-1-gnome/polkit-gnome-authentication-agent-1
