[Unit]
Description=status-notifier-watcher
After=graphical-session-pre.target
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=%h/.local/state/nix/profile/bin/status-notifier-watcher