[Unit]
Description=taffybar
Requires=xmonad.service status-notifier-watcher.service
After=xmonad.service status-notifier-watcher.service

[Install]
WantedBy=xmonad.service

[Service]
ExecStart=/usr/bin/taffybar
MemoryMax=100M
MemoryAccounting=true
MemorySwapMax=0