[Unit]
Description=tmux session running in the background of the graphical-session

[Install]
WantedBy=graphical-session.target

[Service]
Type=forking
ExecStart=%h/.local/state/nix/profile/bin/tmux new-session -s graphical-session -d
Restart=always

