[Unit]
Description=xembedsniproxy
Requires=status-notifier-watcher.service
After=status-notifier-watcher.service

[Install]
WantedBy=taffybar.service

[Service]
ExecStart=%h/.local/state/nix/profile/bin/nixGLIntel xembedsniproxy