[Unit]
Description=xmonad window manager
After=graphical-session.target
PartOf=xmonad-systemd-session.target

[Service]
ExecStart=%h/.local/state/nix/profile/bin/xmonad

[Install]
WantedBy=xmonad-systemd-session.target