# List of known dotfiles: https://wiki.debian.org/DotFilesList
#/.:100-fakexinerama
#/.:42-fakexinerama
/.Xauthority
#/.Xdefaults
#/.android/
/.bash_history
#/.bash_logout
#/.bashrc
#/.bundle/
/.cache
#/.cinnamon/
#/.colab_cert
#/.config/autostart/chrome.desktop
/.config/autostart/*.disabled
#/.config/autostart/lock-after-login.desktop.disabled
#/.config/autostart/prodcert_ssh_quassel.desktop
#/.config/autostart/taffybar.desktop
#/.config/autostart/volumeicon.desktop
/.config/dconf/
/.config/enchant/
/.config/gcloud/
/.config/git-annex/autostart
/.config/goobuntu-backups/
/.config/goobuntu-indicator/
/.config/goobuntu/
/.config/google-chrome/
/.config/gtk-2.0/gtkfilechooser.ini
/.config/gtk-3.0/bookmarks
/.config/ibus/bus/*-unix-*
/.config/libaccounts-glib/accounts.db
/.config/menus/
/.config/mimeapps.list
/.config/nemo/desktop-metadata
/.config/pulse/*.tdb
/.config/pulse/cookie
/.config/pulse/*-default-sink
/.config/pulse/*-default-source
/.config/quassel-irc.org/quasselclient.conf
/.config/quassel-irc.org/settings.qss
/.config/user-dirs.dirs
/.config/user-dirs.locale
/.config/vcsh/repo.d
/.config/vlc/vlc-qt-interface.conf
/.config/vlc/vlcrc
/.config/zsh/
/.dbus/
# .dmrc (gdm, kdm) saves selected display manager session type
/.dmrc
#/.docker/
## google specific:
/.dremel_completion_cache
/.dremel_history
/.dremelrc
#/.dremelrc
/.eclipse/
/.emacs.d/
/.fakexinerama
/.gconf/
/.ghc/ghci_history
#/.gksu.lock
/.gmrun_history
/.gnome/apps/chrome-*.desktop
/.gnome2/accels/nemo
#/.gnupg/pubring.gpg
#/.gnupg/secring.gpg
#/.googlekeys/
#/.gsutil/
#/.gworldclock
#/.ipython/
/.ICEauthority
#/.java/
# kubernetes kubectl
/.kube/
/.lesshst
# maven dumps the internet here:
/.m2/
# google specific:
/.mash_history
/.mysql_history
#/.nv/
#/.nvidia-settings-rc
#/.profile
#/.rnd
#/.shutter/
/.thumbnails
/.viminfo
/.xsession-errors
/.xsession-errors.old
/.zcompdumps/
/.zcompdump
/.zshrc*
/bin/sm
/Documents/
/Downloads
/Pictures/
/examples.desktop
/Videos
/workspaces/


