[Desktop Entry]
Version=1.0
Name=keynav
#GenericName=Text Editor
#Comment=View and edit files
Exec=/usr/bin/keynav
TryExec=keynav
#Icon=/usr/share/icons/hicolor/scalable/apps/emacs23.svg
Type=Application
Terminal=false
#Categories=Utility;Development;TextEditor;