[Desktop Entry]
Name=Xpra Launcher
Comment=Loop try to connect to an Xpra session
TryExec=/home/thkoch/.config/xpra/xpra_launch_loop.sh
Exec=/home/thkoch/.config/xpra/xpra_launch_loop.sh
Icon=xpra
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;

